.tabs-list {
  list-style-type: none;
}
.button {
  background-color: transparent;
  border-width: 0px;
  color: #7b8794;
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
.active-tab {
  background-color: transparent;
  border-width: 0px;
  border-bottom: 4px solid #2563eb;
  color: #2563eb;
  margin-right: 30px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
